<div class="contact-info">
    <div id="contact-info__greating" style="position: relative">
        <div class="slideIn--bottom-up">
            <span id="about-data-id--main-message" class="message-hyperlink">
                <!-- Message -->
            </span>
            <h1
                class="margin-bottom"
                style="font-size: 3vw; margin-bottom: 0.5vw"
            >
                Drop me a
                <span class="fill-color-bottom2top" style="font-size: 3vw"
                    >message</span
                >
                and let's create something great together.
            </h1>
        </div>
    </div>
    <div class="navigation-bar">
        <span id="contact-details-wrapper" class="slideIn--bottom-up">
            <!-- Contact details -->
        </span>
        <a class="slideIn--bottom-up" id="back2top-Btn">Back to top</a>
    </div>
</div>
