<div id="nav-menu" class="overlay">
    <div class="nav-menu__left-wrapper">
        <div
            id="nav-menu__home-nav-btn"
            class="nav-menu__link slideIn--bottom-up"
        >
            HOME
        </div>
        <div
            id="nav-menu__projects-nav-btn"
            class="nav-menu__link slideIn--bottom-up"
        >
            PROJECTS
        </div>
        <div
            id="nav-photography-nav-btn"
            class="nav-menu__link slideIn--bottom-up"
        >
            PHOTOGRAPHY
        </div>
        <div
            id="nav-menu__about-nav-btn"
            class="nav-menu__link slideIn--bottom-up"
        >
            ABOUT
        </div>
    </div>
    <div class="nav-menu__right-wrapper">
        <div>
            <div
                id="nav-menu-data-id__main-message"
                class="contact-link-wrapper--layout hover-turn-blue"
            >
                <div style="overflow: hidden">
                    <div
                        class="font--gray margin--bottom contact-link--font-size slideIn--bottom-up--slow__nav-menu slideIn--bottom-up--slow-2400ms"
                    >
                        Send me an email
                    </div>
                </div>
            </div>
            <div
                id="nav-menu-data-id__media"
                class="contact-link-wrapper--layout hover-turn-blue"
            >
                <div style="overflow: hidden">
                    <div
                        class="font--gray margin--bottom contact-link--font-size slideIn--bottom-up--slow__nav-menu slideIn--bottom-up--slow-2400ms"
                    >
                        Follow me
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
