@import './animation.css';

.about-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.about {
    display: flex;
    flex: 70%;
    margin: 5vw 10vw 3vw 2.8vw;
}

.contact-info {
    flex: 30%;
    border-top: 4px solid #959595;
    padding: 2.5vw 5vw 0vw 2.7vw;
}

.navigation-bar {
    height: 7vh;
    max-height: 70px;
    min-height: 50px;
    margin-top: 0;
}

.contact-info__greating {
    height: 20vh;
    min-height: 180px;
}

.navigation-bar,
.contact-info__greating {
    overflow: hidden;
}

.about-content-wrapper {
    flex: 1 1 70%;
}

.contact-info h1,
.about-content-wrapper h1 {
    margin: 0;
    width: 80%;
    font-size: 3vw;
    font-weight: 700;
    line-height: 3.7vw;
}

.about-content-wrapper h5 {
    font-size: 1.6vw;
    color: #a0a09f;
    margin-top: 4.5vw;
    margin-right: 5.5vw;
    font-weight: normal;
}

.about-photo-wrapper {
    flex: 1 1 30%;
}

.about-photo-wrapper img {
    height: 25vw;
    width: 100%;
    object-fit: contain;
    margin-left: 1vw;
}

.contact-info__greating h1 {
    font-weight: 700;
}

.message-hyperlink {
    left: 14.9vw;
    position: absolute;
    width: 13vw;
    height: 3.5vw;
    border-bottom: 0.4vw solid #ff9110;
}

.message-hyperlink:hover {
    cursor: pointer;
}

.fill-color-bottom2top {
    background: linear-gradient(to bottom, black, black 50%, #ff9110 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: background-position 0.6s ease;
}

.message-hyperlink:hover + h1 .fill-color-bottom2top {
    background-position: 0 100%;
}

/* Viewports Responsiveness  */
@media (max-aspect-ratio: 160/100) {
    .about-content-wrapper h5 {
        font-size: 2.5vw;
    }

    .about-photo-wrapper img {
        height: 48vw;
    }

    .about {
        margin-bottom: 0;
    }

    .contact-info {
        flex: 25%;
        padding-top: 4.5vw;
    }

    .about-content-wrapper h1 {
        font-size: 4vw;
    }

    .contact-info__greating {
        height: 15vh;
        min-height: 100px;
    }
}

@media (max-aspect-ratio: 90/80) {
    .about-content-wrapper h5 {
        font-size: 3vw;
    }
}

@media screen and (max-aspect-ratio: 1/1), screen and (max-width: 770px) {
    .about {
        flex-direction: column;
        margin-left: 8vw;
    }

    .about-content-wrapper {
        flex: 0 0 0;
    }

    .about-content-wrapper h5 {
        font-size: 3.5vw;
        margin-right: 23vw;
        margin-bottom: 0;
    }

    .about-content-wrapper h1 {
        font-weight: 700;
        font-size: 5.5vw;
    }

    .contact-info {
        padding: 4.5vw 10vw 2vw 8vw;
        border-top-width: 2px;
    }

    .contact-info h1 span,
    .contact-info h1 {
        font-size: 4.5vw !important;
        line-height: 6vw;
    }

    .contact-info h1 {
        width: 100%;
    }

    .contact-info__greating h1 {
        font-weight: 700;
    }
    .about-photo-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .about-photo-wrapper img {
        height: 50vw;
        width: fit-content;
    }

    #contact-details-wrapper {
        display: flex;
        flex-direction: column;
    }

    #contact-details-wrapper a:last-child {
        margin-left: 0 !important;
    }

    #contact-details-wrapper {
        gap: 10px;
    }

    .navigation-bar a {
        font-size: 18px;
    }

    .message-hyperlink {
        left: 22.5vw;
        width: 19.5vw;
        height: 5.6vw;
        border-bottom-width: 2.5px;
    }

    .margin-bottom {
        margin-bottom: 1.5vw !important;
    }

    .footer {
        padding-inline: 7.8vw;
    }
}

@media screen and (max-aspect-ratio: 0.45), screen and (max-width: 450px) {
    .contact-info h1 span,
    .contact-info h1 {
        font-size: 5.5vw !important;
        line-height: 7vw;
    }

    .footer {
        text-align: center;
        height: 25px;
    }

    .message-hyperlink {
        left: 27.5vw;
        width: 23.5vw;
        height: 6.7vw;
    }

    .about-photo-wrapper {
        margin-bottom: 20px;
    }

    .about-photo-wrapper img {
        height: 65vw;
        width: auto;
        margin-top: 5vw;
    }

    .about-content-wrapper h5 {
        font-size: 4.5vw;
    }
}
