.fadeIn,
.slideIn--left2right,
.slideIn--right2left,
.slideIn--bottom-up,
.slideIn--bottom-up__large-box,
.slideIn--left2right__far {
    opacity: 0;
}

.fadeIn--active {
    animation: fadeIn 2.5s forwards;
    animation-iteration-count: 1;
}

.slideIn--left2right--active {
    animation: slideIn--left2right 1s forwards;
    animation-iteration-count: 1;
}

.slideIn--right2left--active {
    animation: slideIn--right2left 1s forwards;
    animation-iteration-count: 1;
}

.slideIn--bottom-up__large-box--active,
.slideIn--bottom-up--active {
    animation: slideIn--bottom-up 1s forwards;
    animation-iteration-count: 1;
}

.slideIn--left2right__far--active {
    animation: slideIn--left2right--slow 2s forwards;
    animation-iteration-count: 1;
}

@keyframes slideIn--left2right {
    0% {
        opacity: 0;
        transform: translateX(-222px);
    }
    20% {
        opacity: 0;
        transform: translateX(-222px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--left2right--slow {
    0% {
        opacity: 0;
        transform: translateX(-80vw);
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--right2left {
    0% {
        opacity: 0;
        transform: translateX(222px);
    }
    20% {
        opacity: 0;
        transform: translateX(222px);
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--bottom-up {
    0% {
        opacity: 0;
        transform: translateY(222px);
    }
    20% {
        opacity: 0;
        transform: translateY(222px);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
