.fadeIn,
.fadeIn--slow,
.slideIn--left2right,
.slideIn--right2left,
.slideIn--bottom-up,
.slideIn--bottom-up--slow,
.slideIn--bottom-up--slow-2400ms,
.slideIn--bottom-up--slow--reverse,
.slideIn--bottom-up__large-box,
.slideIn--left2right__large-box {
    opacity: 0;
}

.fadeIn--active {
    animation: fadeIn 1.8s forwards;
    animation-iteration-count: 1;
}

.fadeIn--slow--active {
    animation: fadeIn 2.5s forwards;
    animation-iteration-count: 1;
}

.slideIn--left2right--active {
    animation: slideIn--left2right 2s forwards;
    animation-iteration-count: 1;
}

.slideIn--right2left--active {
    animation: slideIn--right2left 2s forwards;
    animation-iteration-count: 1;
}

.slideIn--bottom-up__large-box--active,
.slideIn--bottom-up--active {
    animation: slideIn--bottom-up 1s forwards;
    animation-iteration-count: 1;
}

.slideIn--bottom-up--slow--active {
    animation: slideIn--bottom-up 2s forwards;
    animation-iteration-count: 1;
}

.slideIn--bottom-up--slow-2400ms--active {
    animation: slideIn--bottom-up 2.4s forwards;
    animation-iteration-count: 1;
}

.slideIn--bottom-up--slow--reverse--active {
    animation: slideIn--bottom-up--reverse 2s forwards;
    animation-iteration-count: 1;
}

.slideIn--left2right__large-box--active {
    animation: slideIn--left2right__large-box 2s forwards;
    animation-iteration-count: 1;
}

@-webkit-keyframes slideIn--left2right {
    0% {
        opacity: 0;
        transform: translateX(-222px);
    }
    20% {
        opacity: 0;
        transform: translateX(-222px);
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--left2right {
    0% {
        opacity: 0;
        transform: translateX(-222px);
    }
    20% {
        opacity: 0;
        transform: translateX(-222px);
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--right2left {
    0% {
        opacity: 0;
        transform: translateX(222px);
    }
    20% {
        opacity: 0;
        transform: translateX(222px);
    }
    30% {
        opacity: 1;
    }
    50% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--left2right__large-box {
    0% {
        opacity: 0;
        transform: translateX(-80vw);
    }
    20% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn--bottom-up {
    0% {
        opacity: 0;
        transform: translateY(222px);
    }
    20% {
        opacity: 0;
        transform: translateY(222px);
    }
    50% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideIn--bottom-up--reverse {
    0% {
        opacity: 1;
        transform: translateY(0px);
    }
    20% {
        opacity: 1;
        transform: translateY(0px);
    }
    /* 50% {
        opacity: 0;
        transform: translateY(222px);
    } */
    100% {
        opacity: 0;
        transform: translateY(222px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
