.contact-info {
    flex: 30%;
    border-top: 4px solid #959595;
    padding: 40px;
}

.navigation-bar {
    height: 7vh;
    max-height: 70px;
    min-height: 50px;
    margin-top: 0;
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
}

.navigation-bar a {
    color: #a0a09f;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navigation-bar a:active,
.navigation-bar a:hover {
    color: #0096ff;
}

.navigation-bar {
    padding-bottom: 1vh;
}

#contact-info__greating {
    height: 20vh;
    min-height: 180px;
}

#contact-info__greating h1 {
    font-weight: 700;
}

.navigation-bar,
#contact-info__greating {
    overflow: hidden;
}

.contact-info h1 {
    margin: 0;
    width: 80%;
    font-size: 3vw;
    font-weight: 700;
    line-height: 3.7vw;
}

.message-hyperlink {
    left: 14.9vw;
    position: absolute;
    width: 13vw;
    height: 3.5vw;
    border-bottom: 0.4vw solid #ff9110;
}

.message-hyperlink:active,
.message-hyperlink:hover {
    cursor: pointer;
}

.fill-color-bottom2top {
    background: linear-gradient(to bottom, black, black 50%, #ff9110 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: background-position 0.6s ease;
}

.message-hyperlink:active + h1 .fill-color-bottom2top,
.message-hyperlink:hover + h1 .fill-color-bottom2top {
    background-position: 0 100%;
}

/* Viewports Responsiveness  */
@media (max-aspect-ratio: 160 / 100) {
    .contact-info {
        flex: 25%;
        padding-top: 4.5vw !important;
    }

    #contact-info__greating {
        height: auto;
        min-height: 120px;
    }
}

@media screen and (max-aspect-ratio: 1/1), screen and (max-width: 770px) {
    .contact-info {
        border-top-width: 2px;
    }

    .contact-info h1 span,
    .contact-info h1 {
        font-size: 4.5vw !important;
        line-height: 6vw;
    }

    .contact-info h1 {
        width: 100%;
    }

    #contact-info__greating {
        min-height: 100px;
    }

    #contact-info__greating h1 {
        font-weight: 700;
    }

    #contact-details-wrapper a:last-child {
        margin-left: 0 !important;
    }

    .navigation-bar a {
        font-size: 17px;
    }

    .navigation-bar {
        margin-top: 0;
    }

    .message-hyperlink {
        left: 22.5vw;
        width: 19.5vw;
        height: 5.6vw;
        border-bottom-width: 2.5px;
    }

    .margin-bottom {
        margin-bottom: 1.5vw !important;
    }
}

@media screen and (max-aspect-ratio: 0.45), screen and (max-width: 600px) {
    #back2top-Btn {
        display: none;
    }

    .navigation-bar {
        justify-content: center;
    }
}

@media screen and (max-aspect-ratio: 0.45), screen and (max-width: 450px) {
    .contact-info h1 span,
    .contact-info h1 {
        font-size: 5.5vw !important;
        line-height: 7vw;
    }

    .message-hyperlink {
        left: 27.5vw;
        width: 23.5vw;
        height: 6.7vw;
    }

    .contact-info {
        padding: 0;
        padding-top: 7.5vw !important;
    }
}
