/* Regular weight */
@font-face {
    font-family: Orkney;
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Orkney-Regular.woff') format('woff');
}

/* Light weight */
@font-face {
    font-family: Orkney;
    font-weight: 300;
    src: url('../assets/fonts/Orkney-Light.woff') format('woff');
}

/* Medium weight */
@font-face {
    font-family: Orkney;
    font-weight: 600;
    src: url('../assets/fonts/Orkney-Medium.woff') format('woff');
}

/* Bold weight */
@font-face {
    font-family: Orkney;
    font-weight: 700;
    font-style: normal;
    src: url('../assets/fonts/Orkney-Bold.woff') format('woff');
}

.orkney-font--regular {
    font-weight: normal;
    font-family: Orkney;
}

.orkney-font--light {
    font-weight: 300;
    font-family: Orkney;
}

.orkney-font--medium {
    font-weight: 600;
    font-family: Orkney;
}

.orkney-font--bold {
    font-weight: 700;
    font-family: Orkney;
}
