.contact-info {
    padding: 2.5vw 8vw 0vw 2.7vw !important;
}

.about {
    display: flex;
    flex: 70%;
    margin: 5vw 5vw 3vw 2.7vw;
}

.project {
    padding: 40px 2.7vw !important;
}

@media (max-aspect-ratio: 160 / 100) {
    .about-content-wrapper h5 {
        font-size: 2.5vw;
    }
}

@media (max-aspect-ratio: 90 / 80) {
    .about-photo-wrapper img {
        height: 35vw;
        margin-left: 0 !important;
    }
}

@media (max-aspect-ratio: 70/100), screen and (max-width: 770px) {
    .contact-info {
        padding: 40px !important;
    }
}

@media screen and (max-aspect-ratio: 0.45), screen and (max-width: 600px) {
    #back2top-Btn {
        display: block !important;
    }

    .navigation-bar {
        justify-content: space-between !important;
    }
}

@media screen and (max-aspect-ratio: 0.45), screen and (max-width: 450px) {
    #contact-details-wrapper {
        display: flex;
        flex-direction: column;
    }

    .about-content-wrapper h5 {
        font-size: 4.5vw !important;
    }
}
