@import './fonts.css';

* {
    -webkit-tap-highlight-color: transparent !important;
    /* border: red 1px solid; */
}

html,
body {
    height: 100%;
}

/* Shared styles */
.container--justified {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
}

#main-title__logo {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 3vw;
    right: 3vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

#main-title__logo:hover {
    transform: scale(1.3);
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
}

.navigation-bar a {
    color: #a0a09f;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.navigation-bar a:hover {
    color: #656565;
}

#back2top-Btn {
    cursor: pointer;
}

/* Wrappers styles */
body {
    font-family: Orkney;
    font-weight: 600;
    background-color: #efeeed;
    margin: 0;
    overflow-y: overlay;
    overflow-x: hidden;
}

.landing-container {
    padding: 5vw 4vw 5vw 7vw;
    height: calc(100% - 10vw);
}

#contact-details-wrapper {
    display: flex;
    gap: 4vw;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #efeeed;
}
