.padding-wrapper {
    padding: 6.5vw 17vw;
}

/* .main-logo-position--light {
    right: 3.6vw !important;
    top: 2.7vw !important;
} */

/* #main-logo {
    right: 4vw;
    top: 3vw;
} */

.footer {
    padding-inline: 0;
}

/* Tablet viewport */
@media (max-aspect-ratio: 70/100), screen and (max-width: 770px) {
    /* #main-logo {
        top: 5vw;
        right: 6vw;
        height: 1.5em;
        width: 1.5em;
    } */
}

@media screen and (max-width: 770px) {
    /* #main-logo {
        right: 5vw;
        top: 5vw;
    }

    .main-logo-position--light {
        right: 3.3vw !important;
        top: 2.9vw !important;
    } */

    .padding-wrapper {
        padding: 60px 12vw;
    }

    .footer {
        margin-top: 30px;
        height: 20px;
        text-align: center;
    }
}

@media screen and (max-aspect-ratio: 0.45), screen and (max-width: 450px) {
    .footer {
        font-size: 10px;
    }

    #main-logo {
        top: 6vw;
        right: 3.5vw;
        height: 1.5em;
        width: 1.5em;
    }
}
