@import './fonts.css';

/* Shared styles */
.container--justified {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container--center {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 0;
}

#main-title__logo {
    display: flex;
    justify-content: end;
    position: absolute;
    top: 5vw;
    right: 6vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

#main-title__logo:hover {
    transform: scale(1.3);
}

.navigation-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 4vw;
}

.navigation-bar a {
    color: #a0a09f;
    font-size: 22px;
    text-decoration: none;
    transition: color 0.5s ease;
}

.navigation-bar a:hover {
    color: #656565;
}

#back2top-Btn {
    cursor: pointer;
}

/* Wrappers styles */
body {
    font-family: Orkney;
    font-weight: 600;
    background-color: #efeeed;
    margin: 0;
    overflow-y: overlay;
}

.landing-container {
    padding: 5vw 4vw 5vw 7vw;
    height: calc(100vh - 10vw);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #000000 transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
    border: 2px solid #efeeed;
}

/* Mobile version */
@media screen and (max-width: 501px) {
    .sub-title {
        flex: 25%;
    }

    .main-title > div:first-child,
    .main-title > div:last-child {
        height: 50% !important;
    }

    .main-title__content h1 {
        font-size: 11.5vw !important;
    }

    .main-title__content__wrapper {
        margin-bottom: 11vw !important;
    }

    .main-title__content__top {
        right: 13.7vw !important;
    }

    .main-title__content__bottom {
        right: 0.7vw !important;
    }

    .main-title__content__top__nick-name {
        right: 0.5vw !important;
    }

    .main-title__content h5 {
        font-size: 2vw !important;
    }

    .main-title__content__bottom__city {
        bottom: -8vw !important;
        right: 7.5vw !important;
    }

    .main-title__content__projects {
        height: 10vw !important;
    }

    .main-title__content__projects h1 {
        font-size: 9.5vw !important;
    }

    .main-title__content__years {
        margin-bottom: 6vw !important;
    }

    .main-title__content__years h5 {
        font-size: 4vw !important;
        right: 21.6vw !important;
    }
}
