.overlay {
    position: fixed;
    bottom: 100%;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.6s ease-out;
}

.overlay__nav-menu--toggleOn {
    bottom: 0;
    transition: bottom 0.8s ease-in;
}

#nav-menu {
    display: flex;
    background-color: black;
    color: white;
}

.nav-menu__left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 70%;
    font-weight: bold;
    font-size: 6vw;
    padding: 5vw 10vw;
}

.nav-menu__right-wrapper {
    display: flex;
    align-items: flex-end;
    padding: 5vw 10vw 8vw 5vw;
    font-size: 1.2vw;
}

.nav-menu__right-wrapper > div {
    display: flex;
    flex-direction: column;

    gap: 2vw;
}

.margin--bottom {
    margin-bottom: 0.5vw;
}

.hover-turn-color-blue {
    transition: color 0.5s ease-in-out;
}

.hover-turn-color-blue:hover {
    cursor: pointer;
    color: #0096ff;
}

.hover-turn-bgcolor-blue {
    transition: background-color 0.5s ease-in-out;
}

.hover-turn-bgcolor-blue:hover {
    cursor: pointer;
    background-color: #0096ff;
}

.nav-menu__link {
    width: fit-content;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
}

.font--gray {
    color: #959595;
}

.nav-menu__link:hover {
    color: #0096ff;
}

.nav-menu__right-wrapper {
    flex: 30%;
}

.circle-shape {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.fa-brands {
    color: black;
    font-size: 27px;
}

.fa-behance {
    transform: scale(0.9);
}

.media-icon-flex-row {
    display: flex;
    gap: 20px;
}

/* Mobile viewport 425px < width < 600px */
@media (max-aspect-ratio: 1/1), screen and (max-width: 600px) {
    #nav-menu {
        flex-direction: column;
    }
    .nav-menu__right-wrapper {
        justify-content: flex-end;
        font-size: 4.5vw;
    }
    .margin--bottom {
        margin-bottom: 2vw;
    }

    .nav-menu__right-wrapper > div {
        gap: 5vw;
    }
}
