.project-name {
    font-size: 4vw;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
}

.project-type {
    margin-top: 15px;
    font-size: 0.9vw;
}

.project-detail-img,
.project-detail-description {
    margin: 45px;
}

.project-detail-description__p {
    margin-bottom: 20px;
}

.project-detail-description {
    font-size: 25px;
    width: 60%;
}

#projects-list-container {
    margin-top: 10vw;
}
