.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 4px solid #959595;
    padding: 40px;
    cursor: pointer;

    background: linear-gradient(to right, #d4d4d4 50%, #efeeed 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.8s ease;
}

.project:hover {
    background-position: left bottom;
}

.project-top-divider {
    border-bottom: 4px solid #959595;
    width: 100%;
}

.project-name {
    font-size: 100px;
}

.project-type {
    font-weight: bold;
}
